/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/


require 'net/http'
require 'open-uri'
require 'json'


class CountryInfo

    URL = "https://restcountries.eu/rest/v2/all"
    @@ll = []
    
    def self.all
        @@all
    end

    def get_info
        uri = URI.parse(URL)
        response = Net::HTTP.get_response(uri)
        response.body
    end

    def create_country_data
        countries = JSON.parse(self.get_info)
            CountryInfo.new.tap do |country|
            countries.each do |k, v|
                country.send("#{k}=", v)
                @@all << self
            end
        end
    end

    info = CountryInfo.new
    info.create_country_data
    
end


countries.new.tap do |country|
puts country.create_country_data
info = CountryInfo.new.get_info

  def create_country_data(data)
    countries = JSON.parse(data)
      Country.new.create do |country|
        countries.each do |k, v|
          country.send("#{k}=", v)
      end
    end
  end

end

class Country

  @@all = []
  attr_accessor 

  def create
    @@all << self
  end

  def self.all
    @@all
  end

end

info = CountryInfo.new.parse


