
require 'net/http'
require 'open-uri'
require 'json'

require 'launchy'
require 'watir'
gem 'watir', '~> 6.17'
gem 'webdrivers'
    def self.flag(index)
        #chromedriver_path = File.join(File.absolute_path('../..', File.dirname(__FILE__)),"browsers","chromedriver.exe")
        File.join(File.absolute_path('../..', File.dirname(__FILE__)),"browsers","chromedriver.exe")
        Selenium::WebDriver::Chrome::Service.driver_path = File.join(File.absolute_path('../..', File.dirname(__FILE__)),"browsers","chromedriver.exe")
        b = Watir::Browser.new :chrome, driver_path: chromedriver_path
        #b = Watir::Browser.new :chrome
        b.goto(self.all[index].flag)
        puts "Flag: "
        #b.goto(https://chromedriver.com/index.html)
        #b.link(text: self.all[index].flag).click
        b.close
        # puts "Flag: " 
        # <a href= "#{self.all[index].flag}" >
        # Click here to open the link!
        # <a>
    end

page = "https://freevectormaps.com/world-maps/WRLD-EPS-01-0015?ref=trends"
html = Nokogiri::HTML(open(page))
src  = html.at('div.flag img')['src']
File.open("foo.png", "wb") do |f|
f.write(open(src).read)
end

  def open_in_browser
    system("open '#{url}'")
  end

  #CountryDataCliGem::Country.all.find {|country| country.name.strip.downcase == selection}

